/* font-family: 'Nunito', sans-serif;
font-family: 'Lato', sans-serif; */

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}

.container-input{
    display: flex;
    align-items: end;
}

.container-input input{
    color: #7A7A7A;
    font-size: 13px;
    width: 500px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid 2px #7A7A7A;
    font-family: 'Nunito', sans-serif;
    outline: none;
}


.container-cuenta{
    display: flex;
    gap: 50px;
}

.cuenta{
    display: flex;
    gap: 10px;
    align-items: center;
}

.cuenta p{
    color: #7A7A7A;
    font-size: 13px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.buy{
    display: flex;
    gap: 10px;
    align-items: center;
}

.buy .numero{
    background: #F8475F;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy .numero p{
    margin: 0;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.container-slider{
    padding: 40px 0;
    max-width: 1200px;
    margin: auto;
}

.container-slider .title{
    font-size: 20px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.container-slider .title::after{
    content: '';
    border-bottom: 4px solid #C0C0C0;
    display: block;
    width: 70px;
    margin-top: 5px;
}

.caja{
    width: 216px;
    height: 353px;
    text-align: center;
    transition: 0.2s;
}

.caja:hover{
    background-color: #E6E8EA;
}

.contenido-card .name{
    font-size: 12px;
    color: #7A7A7A;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
    margin-top: 5px;
}

.css-ryrseu-MuiRating-root{
    color: #F8475F !important;
    font-size: 15px !important;
}

.contenido-card .lista-precio{
    font-size: 12px;
    color: #7A7A7A;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
}

.contenido-card .precio{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0
}

.contenido-card .cuota{
    font-size: 11px;
    color: #7A7A7A;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5px;
}

.contenido-card button{
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    padding: 5px 30px;
    border-radius: 5px;
}

.container-formulario{
    background-color: #F2F2F2;
    text-align: center;
    padding: 15px 0 30px 0;
}

.container-formulario .title-form{
    font-size: 22px;
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.container-formulario .formulario .input-text , .container-formulario .formulario .input-email{
    color: #585858;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 14px;
    width: 15%;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    outline: none;
}

.container-formulario .formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-formulario .formulario .input-submit{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    font-family: 'Lato', sans-serif;
}

.container-footer{
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.container-footer .textos-footer{
    color: #fff;
}

.container-footer .textos-footer p{
    margin-bottom: 5px;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
}

.container-footer .textos-footer .title-footer{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.container-footer .textos-footer .title-footer::after{
    content: '';
    border-bottom: 4px solid #fff;
    display: block;
    width: 50px;
    margin: 15px 0
}

.container-footer .btn-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.container-footer .btn-footer button{
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    padding: 0 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 38px;
    gap: 20px;
}

.container-footer .icons-footer{
    display: flex;
    align-items: center;
    gap: 30px;
}

.container-footer .icons-footer div{
    color: #fff;
    font-size: 11px;
    font-family: 'Nunito', sans-serif;
}

.div-corebiz {
    margin-bottom: 10px;
}

.container-footer .icons-footer .div-corebiz .corebiz{
    margin-bottom: 5px;
}


.container-footer .icons-footer .div-vtex .vtex{
    margin: 0;
}



/*---- Slider Owl ----*/
.item {
    display: flex;
    justify-content: center;
}

/* .owl-theme .owl-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 190px;
} */

.owl-carousel .owl-nav button.owl-prev ,.owl-carousel .owl-nav button.owl-next{
   position: absolute !important;
   top: 50% !important;
   transform: translateY(-50%) !important;
   color: #000 !important;
   font-size: 60px !important;
   background: none !important;
}

.owl-nav button{
    border: none !important;
    outline: none !important;
}

.owl-prev{
    left: 0 !important;
}

.owl-next{
    right: 0 !important;
}





/* ---- Carrousel Bootstrap---- */
.carousel-indicators [data-bs-target]{
    background-clip: unset !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #BDBDBD !important;
    opacity: 1 !important;
}

.carousel-indicators .active{
    background-color: #F8475F !important;
}

.carousel-control-next-icon{
    display: none !important;
}

.carousel-control-prev-icon{
    display: none !important;
}

.carousel-caption{
    right: unset !important;
    left: 10% !important;
    bottom: 6rem !important;
    text-align: left !important;
    max-width: 500px !important;
}

.carousel-caption h3{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 15px;
}

.carousel-caption h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
 }