/* font-family: 'Nunito', sans-serif;
font-family: 'Lato', sans-serif; */

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}

.container-input{
    display: flex;
    align-items: end;
}

.container-input input{
    color: #7A7A7A;
    font-size: 13px;
    width: 500px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid 2px #7A7A7A;
    font-family: 'Nunito', sans-serif;
}

.container-cuenta{
    display: flex;
    gap: 50px;
}

.cuenta{
    display: flex;
    gap: 10px;
    align-items: center;
}

.cuenta p{
    color: #7A7A7A;
    font-size: 13px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.buy{
    display: flex;
    gap: 10px;
    align-items: center;
}

.buy .numero{
    background: #F8475F;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy .numero p{
    margin: 0;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.container-slider{
    padding: 40px 0;
    max-width: 1200px;
    margin: auto;
}

.container-slider .title{
    font-size: 20px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}

.container-slider .title::after{
    content: '';
    border-bottom: 4px solid #C0C0C0;
    display: block;
    width: 70px;
    margin-top: 5px;
}





/* ---- Carrousel ---- */
.carousel-indicators [data-bs-target]{
    background-clip: unset !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    border: none !important;
    background-color: #BDBDBD !important;
    opacity: 1 !important;
}

.carousel-indicators .active{
    background-color: #F8475F !important;
}

.carousel-control-next-icon{
    display: none !important;
}

.carousel-control-prev-icon{
    display: none !important;
}